---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

html, body {
	height: 100%;
	min-height: 100%;
}

.site-header {
	flex: 0;
	min-height: 60px;
}

.scroller {
	flex: auto;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.site-title::before {
	content: "";
	background-image: url("/assets/logo.svg");
	background-size: 60px 60px;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 5px;
	vertical-align: bottom;
}

.site-nav {
	line-height: 65px;
}

ol {
	list-style-type: decimal;
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-roman;
		}
	}
}